*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    padding: 20px 15px;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 20px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

li:hover {
    color: yellow;
}

a {
    text-decoration: none;
    color: inherit;
}